/cloud_connect/firmware/cloud_connect_dm320118.X/build/
/cloud_connect/firmware/cloud_connect_dm320118.X/dist/
/cloud_connect/firmware/cloud_connect_dm320118.X/.generated_files/
/cloud_connect/firmware/cloud_connect_dm320118.X/nbproject/
/cloud_connect/firmware/cloud_connect_dm320118.X/nbproject/private/
